.sign-in {
  width: 20em;
  margin: 2em auto;
  padding: 1em;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  top: 3em;
}

.form {
  width: 100%;
  height: 100%;
  background-color: white;
}

legend {
  margin: 0 auto;
  padding: 0 0.5em;
}

#register p {
  margin: 0;
  padding: 0.3em 0.5em;
  display: inline;
  font-size: 0.9em;
  cursor: pointer;
}
