.app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.main-content {
  width: 48em;
  margin: 2em auto;
  padding: 1em;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #cecece;
  position: relative;
  top: 4em;
}

input[type='text'], input[type='email'], input[type='password'] {
  width: 17em;
  height: 2em;
  margin: 0.5em 0;
  padding: 0.1em 0.3em;
}

input[type='submit'] {
  width: 6em;
  height: 2.5em;
  margin: 0.7em;
  font-size: 0.9em;
}

.bold-text {
  font-weight: bold;
}

.error-loggin-in {
  font-size: 0.8em;
  display: inline-block;
}

.success {
  color: #149df2;
}

.error {
  color: red;
}

@media screen and (max-width: 800px) {
  .main-content {
    width: 90%;
    top: 4em;
  }
}

@media screen and (max-width: 640px) {
  .main-content {
    padding: 0.7em 0;
  }
}
