.logo {
  width: 120px;
  height: 120px;
  margin-right: 2em;
  position: relative;
  top: 2em;
  left: 2em;
}

.tilt, .tilt-inner {
  width: 100%;
  height: 100%;
}

.tilt {
  background-color: white;
  border: 0.1em solid black;
}

.tilt-inner img {
  width: 100px;
  height: 100px;
  padding: 10px;
}

@media screen and (max-width: 640px) {
  .logo {
    top: 1em;
    left: 1em;
  }
}
