@import url('https://fonts.googleapis.com/css?family=Poppins');

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  color: #149df2;
  text-decoration: none;
}
